*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > .contant {
    padding: 20px;
    background-color: aqua;
    margin: 20px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial;
}